/* globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-select, .form-control {
    width: 30%;
    display: inline;
}

h3 {
    display: inline;
}

section {
    border-top: 1px solid black;
    margin-top: 2%;
}

.row {
    margin: 3% 0%;
}

.col {
    padding: 0;
}

label {
    display: block;
}

.btn-danger {
    display: block;
    margin: auto;
}