/* globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.holder {
    width: 70vw;
    margin: auto;
}

h1 {
    width: 70%;
    margin: auto;
}

.form-select, .form-control {
    width: 30vw;
    display: inline;
}

h3 {
    display: inline;
}

section {
    border-top: 1px solid black;
}

.row {
    margin: 1% 0%;
}

.col {
    padding: 0;
}

label {
    display: block;
    padding: 0 !important;
}

.btn-danger {
    display: block;
    margin: auto;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    line-height: 55px;
    bottom: 5%;
    right: 5%;
    background-color: #0df053;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 33px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053 !important;
    background-color: white;
}

/* header */

header {
    margin-bottom: 3%;
}

.logo {
    width: 15%;
    position: absolute;
    top: 20%;
    right: 15%;
}
.banner {
    display: block;
    margin: auto;
    width: 100%;
}

.container-fluid {
    padding: 0 !important;
}

.contenedor-banner {
    position: relative;
}

.contenedor-h2 {
    position: absolute;
    width: 28vw;
    top: 12%;
    left: 7%;
}

.contenedor-h2 h2 {
    font-size: 4.5vw;
    color: white;
    font-weight: 700;
}

.contenedor-banner h1{
    display: none;
}

/* datos del vehiculo */

.datos-del-vehiculo, .datos-personales {
    margin-bottom: 1%;
}

.form-check, .form-check-p{
    display: inline;
}

.form-check .form-check-input {
    float: none;
    border-radius: 0;
}

.formQuieroQueMeContacten {
    display: block;
    margin: 4% auto;
}

.textAreaQuieroQueMeContacten {
    display: block;
    margin: 1% auto;
    resize: none;
    width: 70%;
}

/* datos-de-pago */
.datos-de-pago {
    background-color: #f3f3f5;
}

.contenedor-datos-de-pago {
    margin: auto;
    padding: 2% 0% 2% 0%;
    display: flex;
    justify-content: space-around;
}

.contenedor-datos-de-pago p{
    display: inline;
}

.contenedor-datos-de-pago a {
    color: #848484 !important;
    text-decoration: none;
}

.contenedor-datos-de-pago a:hover {
    color: rgb(229, 72, 72) !important;
    cursor: pointer;
}

.contenedor-datos-de-pago-1 {
    display: inline;
}

.tarjeta {
    width: 9%;
    margin: 2%;
}

.pagoMisCuentas {
    width: 16%;
}

.rapipago {
    width: 14%;
}

.naranja {
    width: 12%;
}

.hr1 {
    width: 75%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1%;
}

.tituloSitioSeguro {
    color: rgb(229, 72, 72);
}

/* otros datos */

.otros-datos {
    background-color: #848484;
    border-top: none;
}

.contenedor-otros-datos {
    display: flex;
    justify-content: space-around;
    padding: 2% 0 2% 0;
}

.contenedor-otros-datos img {
    width: 8vw;
}

.contenedor-otros-datos p {
    color: white;
    font-size: 1vw;
    width: 60%;
}

/* footer */

footer {
    background-color: #848484;
}

footer section{
    border-top: none;
    display: flex;
    justify-content: space-between;
}

footer section div {
    border-top: 1px solid white;
}

footer section div p, span, .fa-phone {
    display: inline;
    color: white;
}

.btn-social {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

section div {
    margin: 3% 0 3% 0;
    padding-top: 1%;
}

div a i {
    font-size: x-large;
    position: absolute;
    top: 17%;
    right: 19%;
    color: #848484;
}